{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>COSTMOE - Email Verification</title>
    <link href="{% static 'client/img/icon/icon-02-primary.png' %}" rel="icon" />
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{% static 'login/images/frontImg.jpg' %}" alt="">
        <div class="text">
          <img src="{% static 'client/img/icon/icon-02-primary.png' %}" style="width: 200px; height: 200px; margin-top: -60px;"><hr>
          <span class="text-1" style="margin-top: 200px">COSTMOE verification</span>
          <span class="text-2">Let's get you verified</span>
        </div>
      </div>
   
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            {% if messages %}
            <div style="font-color: darkred; width: 100%; background-color: lightred;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
          <form action="" method="post">
            {% csrf_token %}
            <div class="title">Email Verification</div>
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="text" name="otp" placeholder="Enter your otp here" required>
              </div>
              
              <div class="button input-box">
                <input type="submit" value="Sumbit" name="login">
              </div>
            </div>
      </form>
    </div>
         
        
    </div>
    </div>
  </div>
    </body>
</html>
