{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <title>COSTMOE - Admin Logim</title>
    <meta charset="UTF-8">
    <link href="{% static 'client/img/icon/icon-02-primary.png' %}" rel="icon" />
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{% static 'login/images/frontImg.jpg' %}" alt="">
        <div class="text">
          <img src="{% static 'client/img/icon/icon-02-primary.png' %}" style="width: 200px; height: 200px; margin-top: -120px;"><hr>
          <span class="text-1" style="margin-top: 180px">COSTMOE Login</span>
          <span class="text-2">As Administrator</span>
        </div>
      </div>

    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            {% if messages %}
            <div style="font-color: darkred; width: 100%; background-color: lightred;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
          <form action="" method="post">
            {% csrf_token %}
            <div class="title">Login</div>
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" name="username" placeholder="Enter your username" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
                <button type="button" id="toggle-password" style="margin-left: -30px; margin-top: -20px; cursor: pointer;">
                  <i class="fas fa-eye"></i> <!-- Eye icon for show -->
              </button>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit" name="login">
              </div>
            </div>
      </form>
    </div>
         
           
    </div>
  </div>
  <script>
    const passwordInput = document.getElementById('password');
    const toggleButton = document.getElementById('toggle-password');
    
    // Add event listener for the toggle button
    toggleButton.addEventListener('click', function() {
        // Toggle the type of the input field between 'password' and 'text'
        const isPasswordVisible = passwordInput.type === 'password';
    
        // Change the type and icon based on the visibility state
        if (isPasswordVisible) {
            passwordInput.type = 'text'; // Show password
            toggleButton.innerHTML = '<i class="fas fa-eye-slash"></i>'; // Change to eye-slash icon
        } else {
            passwordInput.type = 'password'; // Hide password
            toggleButton.innerHTML = '<i class="fas fa-eye"></i>'; // Change to eye icon
        }
    });

  </script>
    </body>
</html>
