{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <title>COSTMOE - Login/Register</title>
    <meta charset="UTF-8">
    <link href="{% static 'client/img/icon/icon-02-primary.png' %}" rel="icon" />
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{% static 'login/images/frontImg.jpg' %}" alt="">
        <div class="text">
          <img src="{% static 'client/img/icon/icon-02-primary.png' %}" style="width: 200px; height: 200px; margin-top: -150px;"><hr>
          <span class="text-1" style="margin-top: 150px">COSTMOE Login</span>
          <span class="text-2">Let's get more products</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="{% static 'login/images/backImg.jpg' %}" alt="">
        <div class="text">
          <img src="{% static 'client/img/icon/icon-02-primary.png' %}" style="width: 200px; height: 200px; margin-top: -150px;"><hr>
          <span class="text-1" style="margin-top: 150px">COSTMOE register <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            {% if messages %}
            <div style="font-color: darkred; width: 100%; background-color: lightred;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
          <form action="" method="post">
            {% csrf_token %}
            <div class="title">Login</div>
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" name="username" placeholder="Enter your username" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Enter your password" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit" name="login">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Signup now</label></div>
            </div>
      </form>
    </div>
         
            <div class="signup-form">
              {% if messages %}
                                        <div style="font-color: darkred; width: 100%; background-color: lightred;">
                                            {% for message in messages %}
                                                <p>{{ message }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
              <form action="" method="post">
                {% csrf_token %}
          <div class="title">Signup</div>
  
            <div class="input-boxes">
              
              <div class="input-box">
                <i class="fas fa-id-card"></i>
                <input type="text" name="username" placeholder="Enter your username" required>
              </div>
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" name="full_name" placeholder="Enter your full name" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" name="email" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Enter your password" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" name="confirm_password" placeholder="Enter your password for confirmation" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit" name="register">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
			  
            </div>
    </div>
      </form>
    </div>
    </div>
  </div>
    </body>
</html>
