{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CostMoe System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="{% static 'client/img/icon/icon-02-primary.png' %}" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
      rel="stylesheet"
    />
 <!-- Include jQuery (Required for Select2) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Select2 CSS and JS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css' %}"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="{% static 'client/lib/animate/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'client/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'client/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{% static 'client/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

  

    <!-- Navbar Start -->
    <nav
      class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5"
    >
      <a href="index.html" class="navbar-brand d-flex align-items-center">
        <h1 class="m-0">
          <img
            class="img-fluid me-3"
            src="{% static 'client/img/icon/icon-02-primary.png' %}"
            alt=""
          />Insure
        </h1>
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      {% include 'client/includes/nav.html' %}

      {% if username == 'na' %}
      <a href="{% url 'login_c' %}" class="btn btn-primary px-3 d-none d-lg-block">Login Now</a>
      {% endif %}
      {% if username != 'na' %}
      <a href="{% url 'login_c' %}" class="btn btn-primary px-3 d-none d-lg-block disabled" tabindex="-1" aria-disabled="true"> Welcome: {{ username }}</a>
      {% endif %}
    </nav>
    <!-- Navbar End -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px">
          <h1 class="display-6 mb-5">Meet Our Professional Team Members</h1>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
           <!-- Multi-select dropdown -->
<select class="js-example-basic-multiple" name="states[]" multiple="multiple"  style="width: 100%">
  <option value="shopee">Shopee Philippines</option>
  <option value="lazada">Lazada Philippines</option>
  <option value="zalora">Zalora Philippines</option>
  <option value="carousell">Carousell Philippines</option>
  <option value="tiktok">TikTok Shop</option>
  <option value="philgeps">PhilGEPS Registered Suppliers</option>
  <option value="mall_shops">Mall Online Shops</option>
  <option value="amazon">Amazon</option>
  <option value="ebay">Ebay</option>
  <option value="aliexpress">AliExpress</option>
  <option value="rakuten">Rakuten</option>
  <option value="temu">Temu</option>
  <option value="galleon">Galleon.ph</option>
  <option value="beautymnl">BeautyMNL</option>
</select>

        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <input type="text" name="" class="form-control mb-5" id="" placeholder="Search per name here">
        </div>
      </div>
      <div class="row g-4">
        <!-- Product 1: Shopee -->
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item rounded">
            <div class="text-center p-4">
              <h5>Razer Viper Ultimate</h5>
              <span>Shopee</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>Razer Viper Ultimate</h5>
              <p>$129.99</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-heart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-share"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-star"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Product 2: Lazada -->
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item rounded">
            <div class="text-center p-4">
              <h5>SteelSeries Arctis 7+</h5>
              <span>Lazada</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>SteelSeries Arctis 7+</h5>
              <p>$169.99</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-heart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-share"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-star"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Product 3: Amazon -->
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item rounded">
            <div class="text-center p-4">
              <h5>Logitech G Pro X Superlight</h5>
              <span>Amazon</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>Logitech G Pro X Superlight</h5>
              <p>$149.99</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-heart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-share"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-star"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Product 4: AliExpress -->
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="team-item rounded">
            <div class="text-center p-4">
              <h5>HyperX Alloy Origins Core</h5>
              <span>AliExpress</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>HyperX Alloy Origins Core</h5>
              <p>$89.99</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-heart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-share"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-star"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Product 5: eBay -->
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item rounded">
            <div class="text-center p-4">
              <h5>ASUS ROG Swift PG279QM</h5>
              <span>eBay</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>ASUS ROG Swift PG279QM</h5>
              <p>$799.99</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-heart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-share"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-star"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Product 6: Temu -->
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item rounded">
            <div class="text-center p-4">
              <h5>Corsair K100 RGB</h5>
              <span>Temu</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>Corsair K100 RGB</h5>
              <p>$229.99</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-heart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-share"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-star"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Product 7: Carousell -->
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item rounded">
            <div class="text-center p-4">
              <h5>NVIDIA GeForce RTX 4070</h5>
              <span>Carousell</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>NVIDIA GeForce RTX 4070</h5>
              <p>$599.99</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-heart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-share"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-star"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Product 8: Shopee -->
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="team-item rounded">
            <div class="text-center p-4">
              <h5>AMD Ryzen 9 7950X</h5>
              <span>Shopee</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>AMD Ryzen 9 7950X</h5>
              <p>$549.99</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-heart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-share"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-star"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Product 9: GameStop -->
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item rounded">
            <div class="text-center p-4">
              <h5>Astro A50 Wireless Headset</h5>
              <span>GameStop</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>Astro A50 Wireless Headset</h5>
              <p>$299.99</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-heart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-share"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-star"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Product 10: Target -->
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item rounded">
            <div class="text-center p-4">
              <h5>Razer BlackShark V2 Pro</h5>
              <span>Target</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>Razer BlackShark V2 Pro</h5>
              <p>$179.99</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-heart"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-share"></i></a>
                <a class="btn btn-square btn-light m-1" href=""><i class="fas fa-star"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- Team End -->

    <!-- Footer Start -->
    <div
      class="container-fluid bg-dark footer mt-5 pt-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <div class="row g-5">
          <div class="col-lg-3 col-md-6">
            <h1 class="text-white mb-4">
              <img
                class="img-fluid me-3"
                src="{% static 'client/img/icon/icon-02-light.png' %}"
                alt=""
              />Insure
            </h1>
            <p>
              Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat
              ipsum et lorem et sit, sed stet lorem sit clita
            </p>
            <div class="d-flex pt-2">
              <a class="btn btn-square me-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square me-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square me-1" href=""
                ><i class="fab fa-youtube"></i
              ></a>
              <a class="btn btn-square me-0" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5 class="text-light mb-4">Address</h5>
            <p>
              <i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA
            </p>
            <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
            <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5 class="text-light mb-4">Quick Links</h5>
            <a class="btn btn-link" href="">About Us</a>
            <a class="btn btn-link" href="">Contact Us</a>
            <a class="btn btn-link" href="">Our Services</a>
            <a class="btn btn-link" href="">Terms & Condition</a>
            <a class="btn btn-link" href="">Support</a>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5 class="text-light mb-4">Newsletter</h5>
            <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
            <div class="position-relative mx-auto" style="max-width: 400px">
              <input
                class="form-control bg-transparent w-100 py-3 ps-4 pe-5"
                type="text"
                placeholder="Your email"
              />
              <button
                type="button"
                class="btn btn-secondary py-2 position-absolute top-0 end-0 mt-2 me-2"
              >
                SignUp
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
              &copy; <a href="#">Your Site Name</a>, All Right Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">
              <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
              Designed By <a href="https://htmlcodex.com">HTML Codex</a>
              <br />Distributed By:
              <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'client/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'client/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'client/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'client/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'client/lib/counterup/counterup.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Template Javascript -->
    <script src="{% static 'client/js/main.js' %}"></script>
    <script>
      
      $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>
    
  </body>
</html>
